
![](http://www.travelguru.com/holiday-packages/images/goa.jpg)

# Table of contents

i) Introduction

ii) Dataset preparation.

iii) Preprocessing of data.

iv) Applying Cosine similarity.

v) Recommending Places.

#  i Introduction

Ever wondered how Amazon is suggesting your favourites shoes or how youtube is suggesting a video which you like to watch. Recommender systems are the reason for this. The recommender systems are divided into three as of now

* Popularity based recommendation engine
* Content based recommendation engine
* Collaborative filtering based recommendation engine
.

### 1)Popularity based recommendation engine:

Thisis the simplest kind of recommendation engine. The trending list you see in YouTube or Netflix is based on this algorithm. It keeps a track of view counts for each movie/video and then lists movies based on views in descending order(highest view count to lowest view count).

### 2)Content based recommendation engine:

Lets see this with the help of an example.Consider someone likes a movie. The recommender system takes it. Then it analyzes the contents (storyline, genre, cast, director etc.) of the movie to find out other movies which have similar content. Then it ranks similar movies according to their similarity scores and recommends the most relevant movies to the user.

### 3)Collaborative filtering based recommendation engine:

This algorithm at first tries to find similarity between users based on their activities and preferences (for example, both the users watch same type of movies or movies directed by the same director). Now, between these users(say, A and B) if user A has seen a movie that user B has not seen yet, then that movie gets recommended to user B and vice-versa. In other words, the recommendations get filtered based on the collaboration between similar user’s preferences (thus, the name “Collaborative Filtering”).ex: Amazon e-commerce platform, where you get to see the “Customers who viewed this item also viewed”.



This notebook is a content based recommender engine. It takes in different details of travel packages, analyses it and predicts new travel packages based on the itinery details.

# ii Dataset preparation

In [ ]:
import warnings
warnings.filterwarnings("ignore")
#importing the packages needed
import pandas as pd
import numpy as np
import re
import nltk

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#reading the dataset scraped from different websites

df3=pd.read_csv("/content/drive/MyDrive/dataset/agra.csv")
df26=pd.read_csv("/content/drive/MyDrive/dataset/Amritsar.csv")
df1=pd.read_csv("/content/drive/MyDrive/dataset/bengaluru.csv")
df4=pd.read_csv("/content/drive/MyDrive/dataset/Chennai.csv")
df6=pd.read_csv("/content/drive/MyDrive/dataset/Delhi.csv")
df23 =pd.read_csv("/content/drive/MyDrive/dataset/Dalhousie.csv")
df5=pd.read_csv("/content/drive/MyDrive/dataset/Goa.csv")
df8=pd.read_csv("/content/drive/MyDrive/dataset/Jaipur.csv")
df9=pd.read_csv("/content/drive/MyDrive/dataset/Jaisalmer.csv")
df10=pd.read_csv("/content/drive/MyDrive/dataset/Jodhpur.csv")
df7=pd.read_csv("/content/drive/MyDrive/dataset/HimachalPradesh.csv")
df24 =pd.read_csv("/content/drive/MyDrive/dataset/Kanyakumari.csv")
df11=pd.read_csv("/content/drive/MyDrive/dataset/Kochi.csv")
df2=pd.read_csv("/content/drive/MyDrive/dataset/Kerala.csv")
df12=pd.read_csv("/content/drive/MyDrive/dataset/Madurai.csv")
df13=pd.read_csv("/content/drive/MyDrive/dataset/Manali.csv")
df14=pd.read_csv("/content/drive/MyDrive/dataset/Munnar.csv")
df15=pd.read_csv("/content/drive/MyDrive/dataset/Nepal.csv")
df16=pd.read_csv("/content/drive/MyDrive/dataset/Ooty.csv")
df17=pd.read_csv("/content/drive/MyDrive/dataset/PortBlair.csv")
df18=pd.read_csv("/content/drive/MyDrive/dataset/Puducherry.csv")
df25=pd.read_csv("/content/drive/MyDrive/dataset/Rajasthan.csv")
df19=pd.read_csv("/content/drive/MyDrive/dataset/Shimla.csv")
df20=pd.read_csv("/content/drive/MyDrive/dataset/Sikkim.csv")
df21=pd.read_csv("/content/drive/MyDrive/dataset/Tirupati.csv")
df22=pd.read_csv("/content/drive/MyDrive/dataset/udaipur.csv")

In [ ]:
#concatenating all the dataframes to a single one
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26]
df = pd.concat(frames)
#dropping all the row where the about section is empty
#This is imp as we are analysing the cosine similarity of this section
data=df.dropna(axis = 0, how ='any')

In [ ]:
df.shape

(253, 6)

In [ ]:
print(df.iloc[:,0])

0    Bengaluru
1    Bengaluru
2    Bengaluru
3    Bengaluru
4    Bengaluru
       ...
5     Amritsar
6     Amritsar
7     Amritsar
8     Amritsar
9     Amritsar
Name: Place, Length: 253, dtype: object

# iii Section 2 -- Preprocessing of data

In [ ]:
#Joining the columns to make a unique text column which defines a package --- The cosine similarity of this column is used to predict recommendations
features = ['Place','Pack_Name','About_trip']
def combine_features(row):
 return row['Place']+" "+row['Pack_Name']+" "+row['About_trip']
for feature in features:
    data[feature] = data[feature].fillna('') #filling all NaNs with blank string
data["combined_features"] = data.apply(combine_features,axis=1) #applying combined_features() method over each rows of dataframe and storing the combined string in “combined_features” column
#data.head(50) ---seeing the data

In [ ]:
#downloading stopwords to remove the common words
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
#Function to do basic text cleaning
def clean(text):

    # Urls
    text = re.sub(r"https?:\/\/t.co\/[A-Za-z0-9]+", "", text)

    # Words with punctuations and special characters
    punctuations =['@','#','!','?','+','&','*','[',']','-','%','.',':','/','(',')',';','$','=','>','<','|','{','}','^']
    for p in punctuations:
        text = text.replace(p, f' {p} ')

    return text

In [ ]:
data.iloc[6] = data.iloc[6].apply(lambda s : clean(s)) #cleaning the text using above function

In [ ]:
#removing stopwords
from nltk.corpus import stopwords
data["combined_features"] = data["combined_features"].str.lower().str.split()
stop = stopwords.words('english')
data['combined_features']=data['combined_features'].apply(lambda x: [item for item in x if item not in stop])
data["combined_features"]= data["combined_features"].str.join(" ") #rejoining the words to text

In [ ]:
# defining a new column with no's and setting it as index
ind=[]
for i in range(253):
     ind.append(i)

data.insert (0,"index",ind)
data.set_index(['index'])

,Place,Pack_Name,Price,Time,About_trip,Package Inclusions,combined_features
index,,,,,,,
0,Bengaluru,Memorable Karnataka & Kerala,"rs 21,399",7 Nights / 8 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Memorable Karnataka & Kerala,bengaluru memorable karnataka & kerala detaile...
1,Bengaluru,Pleasant Coorg & Munnar Standard,"rs 15,950",8 Nights / 9 Days,Detailed Day Wise Itinerary\nDay 1 - Arrival i...,Pleasant Coorg & Munnar Standard,bengaluru pleasant coorg & munnar standard det...
2,Bengaluru,5 Nights South Tour by Own Car,"rs 8,999",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Bengaluru...,5 Nights South Tour by Own Car,bengaluru 5 nights south tour car detailed day...
3,Bengaluru,Together in Coorg and Ooty - With Flights,"rs 20,500",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Together in Coorg and Ooty - With Flights,bengaluru together coorg ooty - flights detail...
4,Bengaluru,Nature Rendezvous - Deluxe,"rs 35,354",4 Nights / 5 Days,Detailed Day Wise Itinerary\nDay 1 - Bangalore...,Nature Rendezvous - Deluxe,bengaluru nature rendezvous - deluxe detailed ...
...,...,...,...,...,...,...,...
248,Amritsar,Picturesque Dalhousie - Land Only (Ex Delhi),"rs 15,199",4 Nights / 5 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Picturesque Dalhousie - Land Only (Ex Delhi),amritsar picturesque dalhousie - land (ex delh...
249,Amritsar,Charming Dalhousie - Ex Delhi,"rs 16,899",3 Nights / 4 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Charming Dalhousie - Ex Delhi,amritsar charming dalhousie - ex delhi detaile...
250,Amritsar,Fabulous Himachal with Amritsar Ex Delhi Land ...,"rs 28,650",8 Nights / 9 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Fabulous Himachal with Amritsar Ex Delhi Land ...,amritsar fabulous himachal amritsar ex delhi l...
251,Amritsar,Charming Dalhousie - Ex Delhi (With Flight),"rs 28,750",3 Nights / 4 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Charming Dalhousie - Ex Delhi (With Flight),amritsar charming dalhousie - ex delhi (with f...
252,Amritsar,Dharamshala & Dalhousie Getaway - Ex Delhi (Wi...,"rs 32,749",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Dharamshala & Dalhousie Getaway - Ex Delhi (Wi...,amritsar dharamshala & dalhousie getaway - ex ...

In [ ]:
# data
# data.dropna()
# data1 = data.drop(0)
# data1
print(data.iloc[:,0])

0      0
1      1
2      2
3      3
4      4
    ...
5    248
6    249
7    250
8    251
9    252
Name: index, Length: 253, dtype: int64

In [ ]:
from google.colab import files
data.to_csv("file2.csv")
files.download("file2.csv")

In [ ]:
data.describe()

            index
count  253.000000
mean   126.000000
std     73.179004
min      0.000000
25%     63.000000
50%    126.000000
75%    189.000000
max    252.000000

In [ ]:
data.head()

,index,Place,Pack_Name,Price,Time,About_trip,Package Inclusions,combined_features
0,0,Bengaluru,Memorable Karnataka & Kerala,"rs 21,399",7 Nights / 8 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Memorable Karnataka & Kerala,bengaluru memorable karnataka & kerala detaile...
1,1,Bengaluru,Pleasant Coorg & Munnar Standard,"rs 15,950",8 Nights / 9 Days,Detailed Day Wise Itinerary\nDay 1 - Arrival i...,Pleasant Coorg & Munnar Standard,bengaluru pleasant coorg & munnar standard det...
2,2,Bengaluru,5 Nights South Tour by Own Car,"rs 8,999",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Bengaluru...,5 Nights South Tour by Own Car,bengaluru 5 nights south tour car detailed day...
3,3,Bengaluru,Together in Coorg and Ooty - With Flights,"rs 20,500",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Together in Coorg and Ooty - With Flights,bengaluru together coorg ooty - flights detail...
4,4,Bengaluru,Nature Rendezvous - Deluxe,"rs 35,354",4 Nights / 5 Days,Detailed Day Wise Itinerary\nDay 1 - Bangalore...,Nature Rendezvous - Deluxe,bengaluru nature rendezvous - deluxe detailed ...

In [ ]:
data.tail()

,index,Place,Pack_Name,Price,Time,About_trip,Package Inclusions,combined_features
5,248,Amritsar,Picturesque Dalhousie - Land Only (Ex Delhi),"rs 15,199",4 Nights / 5 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Picturesque Dalhousie - Land Only (Ex Delhi),amritsar picturesque dalhousie - land (ex delh...
6,249,Amritsar,Charming Dalhousie - Ex Delhi,"rs 16,899",3 Nights / 4 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Charming Dalhousie - Ex Delhi,amritsar charming dalhousie - ex delhi detaile...
7,250,Amritsar,Fabulous Himachal with Amritsar Ex Delhi Land ...,"rs 28,650",8 Nights / 9 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Fabulous Himachal with Amritsar Ex Delhi Land ...,amritsar fabulous himachal amritsar ex delhi l...
8,251,Amritsar,Charming Dalhousie - Ex Delhi (With Flight),"rs 28,750",3 Nights / 4 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Charming Dalhousie - Ex Delhi (With Flight),amritsar charming dalhousie - ex delhi (with f...
9,252,Amritsar,Dharamshala & Dalhousie Getaway - Ex Delhi (Wi...,"rs 32,749",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Drive fro...,Dharamshala & Dalhousie Getaway - Ex Delhi (Wi...,amritsar dharamshala & dalhousie getaway - ex ...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 0 to 9
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               253 non-null    int64
 1   Place               253 non-null    object
 2   Pack_Name           253 non-null    object
 3   Price               253 non-null    object
 4   Time                253 non-null    object
 5   About_trip          253 non-null    object
 6   Package Inclusions  253 non-null    object
 7   combined_features   253 non-null    object
dtypes: int64(1), object(7)
memory usage: 17.8+ KB

This marks the end of our preprocessing of data.

## Section 3: Applying Cosine Similarity

As I said earlier we are going to make a content based recommender system. So we are using the combined_features column. We are calculating the cosine similarity on this column.

Cosine similarity is a metric used to determine how similar the documents are irrespective of their size.
Mathematically, it measures the cosine of the angle between two vectors projected in a multi-dimensional space. In this context, the two vectors I am talking about are arrays containing the word counts of two documents

When plotted on a multi-dimensional space, where each dimension corresponds to a word in the document, the cosine similarity captures the orientation (the angle) of the documents and not the magnitude. If you want the magnitude, compute the Euclidean distance instead.

![](http:///www.researchgate.net/publication/320914786/figure/fig2/AS:558221849841664@1510101868614/The-difference-between-Euclidean-distance-and-cosine-similarity.png)

In [ ]:
#import modules
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
#data.rePlace('', np.nan, inPlace=True)
cv = CountVectorizer() #creating new CountVectorizer() object
count_matrix = cv.fit_transform(data['combined_features'].values.astype('U'))  #fitting cv object to combine features column
cosine_sim = cosine_similarity(count_matrix) #calculating cosine similarity

## Section 4: Recommending Places

In [ ]:
#creating new column to merge Place and Pack_Name which serves as user input identifier
data.head()
features2 = ['Place','Pack_Name']
def combine_features2(row):
 return row['Place']+" "+row['Pack_Name']
for feature in features2:
    data[feature] = data[feature].fillna('') #filling all NaNs with blank string
data["Place_names"] = data.apply(combine_features,axis=1)
data["Place_names"] = data["Place_names"].str.lower()

In [ ]:
data.head()

,index,Place,Pack_Name,Price,Time,About_trip,Package Inclusions,combined_features,Place_names
0,0,Bengaluru,Memorable Karnataka & Kerala,"rs 21,399",7 Nights / 8 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Memorable Karnataka & Kerala,bengaluru memorable karnataka & kerala detaile...,bengaluru memorable karnataka & kerala detaile...
1,1,Bengaluru,Pleasant Coorg & Munnar Standard,"rs 15,950",8 Nights / 9 Days,Detailed Day Wise Itinerary\nDay 1 - Arrival i...,Pleasant Coorg & Munnar Standard,bengaluru pleasant coorg & munnar standard det...,bengaluru pleasant coorg & munnar standard det...
2,2,Bengaluru,5 Nights South Tour by Own Car,"rs 8,999",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Bengaluru...,5 Nights South Tour by Own Car,bengaluru 5 nights south tour car detailed day...,bengaluru 5 nights south tour by own car detai...
3,3,Bengaluru,Together in Coorg and Ooty - With Flights,"rs 20,500",5 Nights / 6 Days,Detailed Day Wise Itinerary\nDay 1 - Arrive in...,Together in Coorg and Ooty - With Flights,bengaluru together coorg ooty - flights detail...,bengaluru together in coorg and ooty - with fl...
4,4,Bengaluru,Nature Rendezvous - Deluxe,"rs 35,354",4 Nights / 5 Days,Detailed Day Wise Itinerary\nDay 1 - Bangalore...,Nature Rendezvous - Deluxe,bengaluru nature rendezvous - deluxe detailed ...,bengaluru nature rendezvous - deluxe detailed ...

In [ ]:
# print(data.iloc[:,-1])
st = ""
for i in range(253):
  st += data.iloc[i]['Place_names']
# print(st)
tt = re.search("ooty",st)
find = re.findall("ooty",st)
print(len(find))
print(tt)
# ['Place_names'])
print(data.index)

83
<re.Match object; span=(727, 731), match='ooty'>
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
            ...
            0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
           dtype='int64', length=253)

In [ ]:
#function to search user input on the newly created column and return the index
import re
def get_index_from_title(Place):
    # count = 0
    for ind in range(253):
        mond=data.iloc[ind]['Place_names']
        # p
        # mond = mond.lower()
        # count += 1
        # print("index :  {}   {}".format(ind,mond))
        if re.search(Place,mond):
            return(ind)
    # print(count)

In [ ]:
#finding similar Places using cosine similarity
Place_selec = input('Enter place: ')
# print(Place_selec)
Place_index = get_index_from_title(Place_selec)
# print(Place_index)
# print(cosine_similarity)
similar_Places = list(enumerate(cosine_sim[Place_index])) #accessing the row corresponding to given Place name to find all the similarity scores for that Place name and then enumerating over it
# similar_Places = list(enumerate(cosine_sim[Place_index]))
similar_Places = list(set(similar_Places))
print(similar_Places)
# print(len(similar_Places))
#sorting those packageso in descending order
# cost = sorted(similar_Places,key = lambda x:x[1)
sorted_similar_Places = sorted(similar_Places,key=lambda x:x[1],reverse=True)[1:]
# sorted_similar_Places = list(set(sorted_similar_Places))
print(sorted_similar_Places)


#printing the top 5 recommendations
i=0
print()
print()
print("Top 5 similar travel packages like "+Place_selec+" are:\n")
for element in sorted_similar_Places:
    print("Package name: {}".format(data.loc[data['index'] == element[0], 'Pack_Name'].values[0]))
    print("Place: {}".format(data.loc[data['index'] == element[0], 'Place'].values[0]))
    dur=data.loc[data['index'] == element[0], 'Time'].values[0]
    print("Duration:{}".format(" ".join(dur.split()))) #removing extra Places in emi column.
    print("Amount: Rs {} .".format(data.loc[data['index'] == element[0], 'Price'].values[0]))
    plan = data.loc[data['index'] == element[0], 'About_trip'].values[0]
    print("Detailed itenary {} . ".format(" ".join(plan.split())))
    # print('Emi amount: Rs {}'.format(data.loc[data['index'] == element[0], 'emi'].values[0]))
    print()
    print()
    i=i+1
    if i>5:
        break

Enter place: ooty
[(52, 0.42132896272590786), (24, 0.4191824503674153), (8, 0.43312727300549675), (62, 0.4246773250216147), (50, 0.504276383391484), (128, 0.28348255888552515), (6, 0.47081366596560026), (28, 0.36054417107205283), (180, 0.5410966019294753), (209, 0.3108622182000963), (39, 0.3072809356941946), (234, 0.44849416675108955), (122, 0.4117399428817459), (78, 0.565478782304887), (223, 0.5305061317948665), (149, 0.4800190966546775), (210, 0.565478782304887), (93, 0.565478782304887), (189, 0.3675874419924318), (220, 0.48679476243288416), (116, 0.41071443707296507), (22, 0.21608184806056946), (127, 0.36464302238750285), (250, 0.5380497896107538), (14, 0.6285816912134299), (193, 0.28488221017533083), (17, 0.5411636285371207), (106, 0.27223939596701435), (251, 0.3617768547571534), (233, 0.5119662239845131), (36, 0.44558499540244056), (212, 0.2788665559950094), (226, 0.4107144370729652), (232, 0.30165638331520417), (125, 0.39367834475995844), (241, 0.26874918548692905), (184, 0.2489410366200293), (44, 0.43945320826801726), (183, 0.2909514141930726), (49, 0.3440561405133233), (13, 0.3802725763568311), (47, 0.417424864218235), (102, 0.4314261543367161), (245, 0.4572847570921003), (246, 0.34996311524975104), (154, 0.22690285031544605), (64, 0.509914246893488), (82, 0.38159144134685236), (198, 0.3471333567926298), (23, 0.4517096943913927), (51, 0.427353942953391), (119, 0.4084756252413538), (74, 0.23721395077503502), (161, 0.24894103662002923), (153, 0.23744717794445735), (69, 0.4599986370430946), (244, 0.12285914873717038), (190, 0.21507524061433797), (87, 0.44109676170545936), (214, 0.44617496603180196), (227, 0.5575768451526918), (29, 0.35343214754088315), (182, 0.24767174974391906), (177, 0.29922713482591035), (240, 0.4321928009934568), (239, 0.5624303569581016), (215, 0.5425150096558121), (43, 0.3875158635255325), (110, 0.3654585894093799), (208, 0.2854447813851346), (57, 0.17347634964786227), (143, 0.9969804766616439), (95, 0.38848675476989036), (222, 0.48587192793011547), (97, 0.4574888254241622), (61, 0.2986881424763726), (5, 0.7755111596889334), (25, 0.2898586949790817), (12, 0.44419815657660827), (56, 0.2975476427878897), (81, 0.2989643629600846), (84, 0.23337735363026885), (4, 0.652949028158323), (79, 0.42851449749762816), (16, 0.29365693379237673), (229, 0.27533312478057026), (83, 0.315112522422271), (144, 0.44959146609826206), (104, 0.5305061317948665), (89, 0.45497117858233893), (213, 0.24634013676685654), (230, 0.30165638331520417), (236, 0.46344436787256965), (179, 0.29866414818454473), (224, 0.4594843024905399), (112, 0.2988888350556635), (207, 0.24114140011430926), (139, 0.39816741054420324), (237, 0.5128971169734912), (164, 0.23998014039633064), (96, 0.2859159302030517), (26, 0.28985869497908173), (202, 0.3812037102760767), (173, 0.29922713482591035), (178, 0.26730410314947534), (231, 0.4287607608391302), (46, 0.42132896272590786), (19, 0.4436099193354286), (75, 0.44441686242509687), (221, 0.3512883332231026), (123, 0.2607177717083927), (176, 0.42907296103496817), (194, 0.23600386289943878), (248, 0.3910458920260691), (53, 0.3452548447957942), (132, 0.38736733808871326), (92, 0.24114140011430926), (211, 0.42973014390454667), (37, 0.3440882685104744), (35, 0.20637911762952088), (129, 0.5329153605015675), (204, 0.4505753573568872), (126, 0.433781216975363), (40, 0.2654931654511788), (196, 0.24310136302833402), (218, 0.2199465506846933), (118, 0.3038486768015575), (1, 0.43312727300549675), (150, 0.39079995498410774), (55, 0.4246773250216147), (41, 0.326127518132549), (137, 0.39308946976924897), (91, 0.2854447813851346), (152, 0.7776284874386864), (38, 0.3132812511225027), (242, 0.45999863704309457), (85, 0.4404487752852721), (30, 0.2516941536898431), (54, 0.4427866558468008), (77, 0.44109676170545936), (72, 0.21847839286332077), (86, 0.2744534119384843), (140, 0.22529718090632417), (201, 0.2773150379916114), (175, 0.29866414818454473), (219, 0.40179846474270225), (206, 0.4651965267415999), (151, 0.4925671722698586), (158, 0.2613055754812002), (163, 0.2951054320802753), (169, 0.2812590537252596), (217, 0.3800798023314319), (88, 0.31121180685691946), (181, 0.5212315614464054), (32, 0.3212626173775123), (117, 0.29354578505294154), (192, 0.25499661465835843), (108, 0.4220783659992133), (142, 0.4086075213419197), (27, 0.5279119542351933), (65, 0.4464415510958011), (238, 0.28465951227315356), (197, 0.32210916065633927), (165, 0.5305061317948665), (90, 0.2979642439346849), (186, 0.3313134984716766), (235, 0.4395571522551208), (120, 0.4170132027170185), (34, 0.3212626173775123), (188, 0.27994625547792723), (111, 0.3654585894093799), (105, 0.29049926746194665), (76, 0.2744534119384843), (252, 0.45632709162819723), (10, 0.44849416675108955), (247, 0.4297301439045468), (0, 1.0000000000000004), (58, 0.2502320070350866), (33, 0.35026074750452546), (115, 0.16959495577665096), (131, 0.996865203761756), (21, 0.2626700653133393), (100, 0.3919247576690982), (200, 0.15351004011217878), (185, 0.2967933432697741), (59, 0.4300615979792039), (135, 0.39896276578351686), (67, 0.4306462851778502), (249, 0.41192091877466436), (68, 0.26874918548692905), (3, 0.6792669372096743), (160, 0.19665979884428464), (133, 0.39671276792370164), (216, 0.4233634194354751), (98, 0.4584096905437217), (31, 0.2787021001648912), (7, 0.5031828442733819), (103, 0.6436155152591577), (145, 0.506674938978098), (70, 0.2710332981226603), (166, 0.3712633164123561), (66, 0.5128971169734912), (187, 0.32148679505163846), (60, 0.4258113118868063), (148, 0.4841730690071609), (136, 0.3345061419331756), (157, 0.3480730737357094), (162, 0.26415224948035343), (63, 0.29699406529857664), (114, 0.4288624180062248), (203, 0.3037832466693977), (155, 0.2375422747394688), (45, 0.45497117858233893), (9, 0.8232485413045136), (146, 0.687036579603858), (80, 0.2788665559950094), (109, 0.5140431745977784), (99, 0.996865203761756), (101, 0.4012991950652898), (174, 0.4040475743889596), (195, 0.36201879551294086), (205, 0.2979642439346849), (113, 0.4319056056656308), (15, 0.38792319347275395), (156, 0.2296452008080283), (73, 0.5564785454587166), (124, 0.4273233152629964), (170, 0.3255635131767156), (171, 0.35347421616823155), (228, 0.29310469421766483), (199, 0.3212626173775123), (167, 0.37243495828454687), (172, 0.32468951559136855), (2, 0.4929691749594898), (191, 0.25596803385098305), (71, 0.28008024023921047), (11, 0.39922192726322253), (147, 0.43370209785832836), (20, 0.505965756242119), (48, 0.5019463466040375), (107, 0.2988888350556635), (168, 0.36201879551294086), (138, 0.39818926899766355), (243, 0.34121265257970795), (225, 0.41727154184389437), (18, 0.432378435559093), (159, 0.4431109126449066), (121, 0.37500904257243234), (141, 0.2856862950910774), (130, 0.4240908931689463), (42, 0.2014080412569348), (134, 0.3619115424564032), (94, 0.4446933687277752)]
[(143, 0.9969804766616439), (131, 0.996865203761756), (99, 0.996865203761756), (9, 0.8232485413045136), (152, 0.7776284874386864), (5, 0.7755111596889334), (146, 0.687036579603858), (3, 0.6792669372096743), (4, 0.652949028158323), (103, 0.6436155152591577), (14, 0.6285816912134299), (78, 0.565478782304887), (210, 0.565478782304887), (93, 0.565478782304887), (239, 0.5624303569581016), (227, 0.5575768451526918), (73, 0.5564785454587166), (215, 0.5425150096558121), (17, 0.5411636285371207), (180, 0.5410966019294753), (250, 0.5380497896107538), (129, 0.5329153605015675), (223, 0.5305061317948665), (104, 0.5305061317948665), (165, 0.5305061317948665), (27, 0.5279119542351933), (181, 0.5212315614464054), (109, 0.5140431745977784), (237, 0.5128971169734912), (66, 0.5128971169734912), (233, 0.5119662239845131), (64, 0.509914246893488), (145, 0.506674938978098), (20, 0.505965756242119), (50, 0.504276383391484), (7, 0.5031828442733819), (48, 0.5019463466040375), (2, 0.4929691749594898), (151, 0.4925671722698586), (220, 0.48679476243288416), (222, 0.48587192793011547), (148, 0.4841730690071609), (149, 0.4800190966546775), (6, 0.47081366596560026), (206, 0.4651965267415999), (236, 0.46344436787256965), (69, 0.4599986370430946), (242, 0.45999863704309457), (224, 0.4594843024905399), (98, 0.4584096905437217), (97, 0.4574888254241622), (245, 0.4572847570921003), (252, 0.45632709162819723), (89, 0.45497117858233893), (45, 0.45497117858233893), (23, 0.4517096943913927), (204, 0.4505753573568872), (144, 0.44959146609826206), (234, 0.44849416675108955), (10, 0.44849416675108955), (65, 0.4464415510958011), (214, 0.44617496603180196), (36, 0.44558499540244056), (94, 0.4446933687277752), (75, 0.44441686242509687), (12, 0.44419815657660827), (19, 0.4436099193354286), (159, 0.4431109126449066), (54, 0.4427866558468008), (87, 0.44109676170545936), (77, 0.44109676170545936), (85, 0.4404487752852721), (235, 0.4395571522551208), (44, 0.43945320826801726), (126, 0.433781216975363), (147, 0.43370209785832836), (8, 0.43312727300549675), (1, 0.43312727300549675), (18, 0.432378435559093), (240, 0.4321928009934568), (113, 0.4319056056656308), (102, 0.4314261543367161), (67, 0.4306462851778502), (59, 0.4300615979792039), (247, 0.4297301439045468), (211, 0.42973014390454667), (176, 0.42907296103496817), (114, 0.4288624180062248), (231, 0.4287607608391302), (79, 0.42851449749762816), (51, 0.427353942953391), (124, 0.4273233152629964), (60, 0.4258113118868063), (62, 0.4246773250216147), (55, 0.4246773250216147), (130, 0.4240908931689463), (216, 0.4233634194354751), (108, 0.4220783659992133), (52, 0.42132896272590786), (46, 0.42132896272590786), (24, 0.4191824503674153), (47, 0.417424864218235), (225, 0.41727154184389437), (120, 0.4170132027170185), (249, 0.41192091877466436), (122, 0.4117399428817459), (226, 0.4107144370729652), (116, 0.41071443707296507), (142, 0.4086075213419197), (119, 0.4084756252413538), (174, 0.4040475743889596), (219, 0.40179846474270225), (101, 0.4012991950652898), (11, 0.39922192726322253), (135, 0.39896276578351686), (138, 0.39818926899766355), (139, 0.39816741054420324), (133, 0.39671276792370164), (125, 0.39367834475995844), (137, 0.39308946976924897), (100, 0.3919247576690982), (248, 0.3910458920260691), (150, 0.39079995498410774), (95, 0.38848675476989036), (15, 0.38792319347275395), (43, 0.3875158635255325), (132, 0.38736733808871326), (82, 0.38159144134685236), (202, 0.3812037102760767), (13, 0.3802725763568311), (217, 0.3800798023314319), (121, 0.37500904257243234), (167, 0.37243495828454687), (166, 0.3712633164123561), (189, 0.3675874419924318), (110, 0.3654585894093799), (111, 0.3654585894093799), (127, 0.36464302238750285), (195, 0.36201879551294086), (168, 0.36201879551294086), (134, 0.3619115424564032), (251, 0.3617768547571534), (28, 0.36054417107205283), (171, 0.35347421616823155), (29, 0.35343214754088315), (221, 0.3512883332231026), (33, 0.35026074750452546), (246, 0.34996311524975104), (157, 0.3480730737357094), (198, 0.3471333567926298), (53, 0.3452548447957942), (37, 0.3440882685104744), (49, 0.3440561405133233), (243, 0.34121265257970795), (136, 0.3345061419331756), (186, 0.3313134984716766), (41, 0.326127518132549), (170, 0.3255635131767156), (172, 0.32468951559136855), (197, 0.32210916065633927), (187, 0.32148679505163846), (32, 0.3212626173775123), (34, 0.3212626173775123), (199, 0.3212626173775123), (83, 0.315112522422271), (38, 0.3132812511225027), (88, 0.31121180685691946), (209, 0.3108622182000963), (39, 0.3072809356941946), (118, 0.3038486768015575), (203, 0.3037832466693977), (232, 0.30165638331520417), (230, 0.30165638331520417), (177, 0.29922713482591035), (173, 0.29922713482591035), (81, 0.2989643629600846), (112, 0.2988888350556635), (107, 0.2988888350556635), (61, 0.2986881424763726), (179, 0.29866414818454473), (175, 0.29866414818454473), (90, 0.2979642439346849), (205, 0.2979642439346849), (56, 0.2975476427878897), (63, 0.29699406529857664), (185, 0.2967933432697741), (163, 0.2951054320802753), (16, 0.29365693379237673), (117, 0.29354578505294154), (228, 0.29310469421766483), (183, 0.2909514141930726), (105, 0.29049926746194665), (26, 0.28985869497908173), (25, 0.2898586949790817), (96, 0.2859159302030517), (141, 0.2856862950910774), (208, 0.2854447813851346), (91, 0.2854447813851346), (193, 0.28488221017533083), (238, 0.28465951227315356), (128, 0.28348255888552515), (169, 0.2812590537252596), (71, 0.28008024023921047), (188, 0.27994625547792723), (212, 0.2788665559950094), (80, 0.2788665559950094), (31, 0.2787021001648912), (201, 0.2773150379916114), (229, 0.27533312478057026), (86, 0.2744534119384843), (76, 0.2744534119384843), (106, 0.27223939596701435), (70, 0.2710332981226603), (241, 0.26874918548692905), (68, 0.26874918548692905), (178, 0.26730410314947534), (40, 0.2654931654511788), (162, 0.26415224948035343), (21, 0.2626700653133393), (158, 0.2613055754812002), (123, 0.2607177717083927), (191, 0.25596803385098305), (192, 0.25499661465835843), (30, 0.2516941536898431), (58, 0.2502320070350866), (184, 0.2489410366200293), (161, 0.24894103662002923), (182, 0.24767174974391906), (213, 0.24634013676685654), (196, 0.24310136302833402), (207, 0.24114140011430926), (92, 0.24114140011430926), (164, 0.23998014039633064), (155, 0.2375422747394688), (153, 0.23744717794445735), (74, 0.23721395077503502), (194, 0.23600386289943878), (84, 0.23337735363026885), (156, 0.2296452008080283), (154, 0.22690285031544605), (140, 0.22529718090632417), (218, 0.2199465506846933), (72, 0.21847839286332077), (22, 0.21608184806056946), (190, 0.21507524061433797), (35, 0.20637911762952088), (42, 0.2014080412569348), (160, 0.19665979884428464), (57, 0.17347634964786227), (115, 0.16959495577665096), (200, 0.15351004011217878), (244, 0.12285914873717038)]


Top 5 similar travel packages like ooty are:

Package name: Memorable Karnataka & Kerala
Place: Ooty
Duration:7 Nights / 8 Days
Amount: Rs rs 21,399 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore You will receive assistance from a Yatra representative on your arrival at the Bangalore Airport/Railway Station. Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Mysore (140 km/approx. 3 hours) | Sightseeing in Mysore After breakfast, check out from the hotel and proceed to Mysore.Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Mysore city.Overnight stay at the hotel in Mysore. Day 3 - Drive from Mysore to Ooty (160 km/approx. 4 hours) After breakfast, check out from the hotel and proceed to Ooty. On the way, pass through the Bandipur and Madumalai forests. Check in at the hotel as you arrive in Ooty. The evening is free for shopping and other activities. Overnight stay in Ooty. More .


Package name: Memorable Karnataka & Kerala
Place: Munnar
Duration:7 Nights / 8 Days
Amount: Rs rs 21,399 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore You will receive assistance from a Yatra representative on your arrival at the Bangalore Airport/Railway Station. Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Mysore (140 km/approx. 3 hours) | Sightseeing in Mysore After breakfast, check out from the hotel and proceed to Mysore.Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Mysore city.Overnight stay at the hotel in Mysore. Day 3 - Drive from Mysore to Ooty (160 km/approx. 4 hours) After breakfast, check out from the hotel and proceed to Ooty. On the way, pass through the Bandipur and Madumalai forests. Check in at the hotel as you arrive in Ooty. The evening is free for shopping and other activities. Overnight stay in Ooty. More .


Package name: Memorable Karnataka & Kerala
Place: kochi
Duration:7 Nights / 8 Days
Amount: Rs rs 21,399 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore You will receive assistance from a Yatra representative on your arrival at the Bangalore Airport/Railway Station. Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Mysore (140 km/approx. 3 hours) | Sightseeing in Mysore After breakfast, check out from the hotel and proceed to Mysore.Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Mysore city.Overnight stay at the hotel in Mysore. Day 3 - Drive from Mysore to Ooty (160 km/approx. 4 hours) After breakfast, check out from the hotel and proceed to Ooty. On the way, pass through the Bandipur and Madumalai forests. Check in at the hotel as you arrive in Ooty. The evening is free for shopping and other activities. Overnight stay in Ooty. More .


Package name: Classical Karnataka Tour - Standard
Place: Bengaluru
Duration:4 Nights / 5 Days
Amount: Rs rs 13,849 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore You will receive assistance from a Yatra representative on your arrival at the Bangalore Airport/Railway Station. Check in at the hotel. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Hassan | Sightseeing in Hassan After breakfast, you will be driven to Hassan. Upon arrival, check in to the hotel. Enjoy excursions to Belur and Halebid and revel in the nostalgia of the historical sites of Karnataka. Overnight at the hotel. Day 3 - Drive from Hassan to Mysore | Sightseeing in Mysore After breakfast, you will be driven to Mysore. Upon arrival, check in to the hotel.Explore Mysore City.Overnight at the hotel. Day 4 - Sightseeing in and around Mysore More .


Package name: Sojourn in Ooty & Bandipur - Standard
Place: Ooty
Duration:5 Nights / 6 Days
Amount: Rs rs 25,299 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore On arrival at the Bangalore Airport/Railway Station, meet our representative and go to the hotel. Check in. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Bandipur After breakfast, you will be driven to Bandipur. Upon arrival, check in to the hotel. Spend the day at your leisure and stay overnight at the hotel. Day 3 - Day at Leisure in Bandipur Day at Leisure. Day 4 - Drive from Bandipur to Ooty After breakfast, check out from the hotel and proceed to Ooty. On arrival, check in to your hotel. Enjoy the rest of the day at leisure and have a comfortable overnight stay. More .


Package name: Sojourn in Ooty & Bandipur - Standard
Place: Bengaluru
Duration:5 Nights / 6 Days
Amount: Rs rs 25,299 .
Detailed itenary Detailed Day Wise Itinerary Day 1 - Arrive in Bangalore | Sightseeing in Bangalore On arrival at the Bangalore Airport/Railway Station, meet our representative and go to the hotel. Check in. In the afternoon, proceed on a half-day sightseeing tour of Bangalore city. Enjoy the evening at your leisure. Overnight stay at the hotel in Bangalore. Day 2 - Drive from Bangalore to Bandipur After breakfast, you will be driven to Bandipur. Upon arrival, check in to the hotel. Spend the day at your leisure and stay overnight at the hotel. Day 3 - Day at Leisure in Bandipur Day at Leisure. Day 4 - Drive from Bandipur to Ooty After breakfast, check out from the hotel and proceed to Ooty. On arrival, check in to your hotel. Enjoy the rest of the day at leisure and have a comfortable overnight stay. More .